<div class="tab-lancamentos-titulo">
  <div class="retangulos ret-laranja"></div>
  lançamentos
  <div class="retangulos ret-branco"></div>
</div>
<div class="tabela-lancamentos">
  <div class="row">
    <div class="col s12 mt32">
      <div class="filtro-titulo menu-botoes">
        vizualizar
        <button
          class="filtro-botao"
          [ngClass]="{ active: conteudoFiltro.vizualizar === 'todas' }"
          (click)="filtroBusca('todas')"
        >
          todas
        </button>
        <button
          class="filtro-botao"
          [ngClass]="{ active: conteudoFiltro.vizualizar === 'entradas' }"
          (click)="filtroBusca('entradas')"
        >
          entradas
        </button>
        <button
          class="filtro-botao"
          [ngClass]="{ active: conteudoFiltro.vizualizar === 'saidas' }"
          (click)="filtroBusca('saidas')"
        >
          saídas
        </button>
        <button
          class="filtro-botao"
          [ngClass]="{ active: conteudoFiltro.vizualizar === 'futuros' }"
          (click)="filtroBusca('futuros')"
        >
          futuros
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s4 filtro-tempo">
      <div class="filtro-titulo">período específico</div>
      <mat-form-field appearance="fill">
        <mat-select
          [(ngModel)]="conteudoFiltro.periodo"
          (selectionChange)="filtroBusca()"
        >
          <mat-option value="ontem">ontem</mat-option>
          <mat-option value="7dias">7 dias</mat-option>
          <mat-option value="30dias">30 dias</mat-option>
          <mat-option value="90dias">90 dias</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col s2 filtro-tempo">
      <div class="filtro-titulo">ordenar por</div>
      <mat-form-field appearance="fill">
        <mat-select
          [(ngModel)]="conteudoFiltro.ordenacao"
          (selectionChange)="filtroBusca()"
        >
          <mat-option value="maisAntigo">mais antigo</mat-option>
          <mat-option value="maisRecente">mais recente</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col s4 offset-s2 filtro-tempo">
      <div class="filtro-titulo">busca</div>
      <div class="searchbar">
        <input
          [(ngModel)]="conteudoFiltro.busca"
          #input
          matInput
          (keyup)="filtroBusca()"
          placeholder=" ex: saque, TED, DOC"
        /><mat-icon class="icon">search</mat-icon>
      </div>
    </div>
  </div>
  <div class="row busca" *ngIf="filtro">
    resultado de <b>{{ resultadoDe }}</b> do período
    <span *ngIf="periodo == 'do último dia'"
      ><b>{{ periodo }}</b></span
    >
    <span *ngIf="periodo != 'do último dia'"
      >do últimos <b>{{ periodo }}</b> dias</span
    >
    para o termo <b>{{ filtro }}</b>
  </div>

  <mat-accordion>
    <mat-expansion-panel
      (opened)="lancamentosFuturosAberto = true"
      (closed)="lancamentosFuturosAberto = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>lançamentos futuros</mat-panel-title>
        <mat-panel-description
          class="toggle-exibir lancamentos-futuros-borderless"
        >
          {{ lancamentosFuturosAberto ? "ocultar" : "exibir" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-tabela
        *ngIf="entradasFuturas | async as dados"
        [dados]="dados"
        [colunas]="colunas"
        [hidden]="!mostrarEntradasFuturas"
        [setDadosFiltro]="conteudoFiltro"
      ></mat-tabela>
      <mat-tabela
        *ngIf="saidasFuturas | async as dados"
        [dados]="dados"
        [colunas]="colunas"
        [hidden]="!mostrarSaidasFuturas"
        [setDadosFiltro]="conteudoFiltro"
      ></mat-tabela>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-tabela
    #entradasSaidas
    *ngIf="entradasSaidas | async as dados"
    [dados]="dados"
    [colunas]="colunas"
    [hidden]="!mostrarEntradasSaidas"
    [setDadosFiltro]="conteudoFiltro"
  ></mat-tabela>
  <app-atualizado></app-atualizado>
</div>
