<div class="lancamentos">
  <mat-accordion>
    <mat-expansion-panel
      (opened)="lancamentosFuturosAberto = true"
      (closed)="lancamentosFuturosAberto = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>lançamentos futuros</mat-panel-title>
        <mat-panel-description
          class="toggle-exibir lancamentos-futuros-borderless"
        >
          {{ lancamentosFuturosAberto ? "ocultar" : "exibir" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- <mat-tabela [dados]="saidasFuturas" [colunas]="colunas"></mat-tabela> -->
      <mat-tabela
        *ngIf="entradasSaidas | async as dados"
        [dados]="dados"
        [colunas]="colunas"
      ></mat-tabela>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-tabela
    *ngIf="entradasSaidas | async as dados"
    [dados]="dados"
    [colunas]="colunas"
  ></mat-tabela>
  <app-atualizado></app-atualizado>
</div>
