.titulo-extrato {
  margin-top: 40px;
  font-size: 32px;
  font-weight: bold;
}

.subtitulo {
  margin: 5px 0;
}

.saldo {
  color: rgb(0, 122, 71);
  text-align: left;
}

.box p {
  font-weight: 800;
  size: 16px;
}

.box {
  display: flex;
  border-top: 1px solid #d6d0cc;
  border-bottom: 1px solid #d6d0cc;
  justify-content: space-between;
  align-items: center;
  height: 82px;
}

.box-saldo {
  border-right: 1px solid #EFE9E5;
  padding-right: 25px;
}

.box-botao {
  width: 80px;
  height: 60px;
  color: rgb(16, 110, 176);
  border-left: 1px solid #EFE9E5;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-toggle {
  text-decoration: underline;
  display: block;
}

.texto-footer {
  color: #56504c;
  size: 14px;
  margin-top: 10px;
  margin-bottom: 30px;
}

