<h1 class="titulo-extrato">extrato</h1>

<div class="box">
  <div class="box-saldo">
    <p class="subtitulo">saldo em conta</p>
    <div *ngIf="toDisplay; then display; else icon" id="saldo"></div>
    <ng-template #display>
      <p class="saldo" *ngIf="saldoTotal | async as saldo">
        {{ saldo.saldoTotal | currency }}
      </p>
    </ng-template>
    <ng-template #icon>
      <mat-icon id="icon">visibility_off</mat-icon>
    </ng-template>
  </div>

  <div class="box-botao" (click)="hide()" *ngIf="toDisplay; else oculto">
    <mat-icon>visibility</mat-icon>
    <span class="button-toggle">ocultar</span>
  </div>

  <ng-template #oculto>
    <div (click)="hide()" class="box-botao">
      <mat-icon>visibility_off</mat-icon>
      <span class="button-toggle">exibir</span>
    </div>
  </ng-template>
</div>

<div class="texto-footer">
  * Total contratado. A utilização do cheque especial e cheque especial
  adicional está sujeita a encargos.
</div>
