<ul class="rodape">
  <li>
    Os saldos acima são baseados nas informações disponíveis até esse instante e
    poderão ser alteradas a qualquer momento em função de novos lançamentos.
  </li>
  <li>
    Operações pós-fixadas: valor merante indicativo. O valor do débito será
    determinado na data de liquidação das operações, conforme contratado.
  </li>
  <li>
    Consulte a última versão das Condições Gerais da sua Conta Universal Itaú e
    dos Serviços no site
    <a href="https://www.itau.com.br/conta-corrente/conveniencia"
      >www.itau.com.br/conta-corrente/conveniencia</a
    >
  </li>

  <li>
    Conforme Resolução 4.292/13 do CMN/BACEN, as operações de crédito podem ser
    transferidas para outra instituição financeira por meio da Portabilidade.
  </li>

  Para maiores informações, consulte:
  <a href="https://www.itau.com.br">www.itau.com.br</a>
  no menu: Serviços > Portabilidade de crédito.
</ul>
