* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

a {
  color: transparent;
}

.itau {
  height: 70px;
  width: 100%;
  background-color: #ec7000;
  display: flex;
  justify-content: center;
}

.nav-itau {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  width: 80%;
}

a.nav-itau {
  all: initial;
  cursor: pointer;
}

button {
  color: #ffffff;
  background-color: #cd5a12;
  cursor: pointer;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70px;
  height: 70px;
}

.logo-itau {
  margin-top: 5px;
}

.logo-itau img {
  width: 51px;
  height: 51px;
}

#ag i {
  all: initial;
}

.container-1 {
  padding: 8px 12px;
  border-radius: 5px;
  height: 34px;
  background-color: #faf7f5;
}
.txt-ag {
  color: #ec7000;
  font-weight: 800;
  font-size: 12px;
  text-align: justify;
}

i {
  display: block;
}

input {
  all: initial;
}

input:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

#search-bar {
  background-color: #ffffff;
  width: 460px;
  border-radius: 20px;
  height: 32px;
}

#txt-search {
  font-weight: 400;
  background-color: transparent;
  font-family: Arial;
  color: #706a66;
  font-size: 12px;
  padding: 6px;
  border: none;
  padding-left: 22px;
  height: 18px;
  width: 420px;
}

.text-color {
  color: #ec7000;
}

.icon-conta {
  font-size: 42px;
  color: #faf7f5;
}

.color-itau-dark {
  background-color: #cd5a12;
}

ul,
li {
  all: initial;
  font-size: 14px;
  font-family: Arial;
}

ul.breadcrumb-itau {
  list-style: none;
  margin-left: 10px;
}
ul.breadcrumb-itau li a {
  display: inline;
}
ul.breadcrumb-itau li + li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
}

ul.breadcrumb-itau li a {
  color: #248ce7;
  text-decoration: none;
}
ul.breadcrumb-itau li a:hover {
  color: #016cb2;
  text-decoration: underline;
}

.container-2 {
  padding-top: 16px;
  width: 80%;
}

.center-0 {
  display: flex;
  width: 100%;
  justify-content: center;
}
