
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

    <div class="itau">
        <div class="nav-itau">
            <button type="button"><i class="material-icons">dehaze</i><span>menu</span></button>
            <a href="https://www.itau.com.br/" class="logo-itau"><img src="..\assets\logo-itau-1024.png"></a>
            <div class="hide-on-med-and-down" id="search-bar">
                <input id="txt-search" type="text" placeholder="Olá, o que você procura?">
            </div>

                <a href="#"><i class="material-icons icon-conta hide-on-med-and-down">account_box</i></a>
                <div class="container-1"> 
                    <p class="txt-ag">{{conta}}</p>
                </div>
            <button class="btn-sair hide-on-med-and-down" type="button"><i class="material-icons">lock</i><span>sair</span></button>
        </div>
    </div>  
        
    <div class="container-2">
        <ul class="breadcrumb-itau">
            <li><a href="#">Home</a></li>
            <li>conta corrente</li>
        </ul>
    </div>

