<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper coritau">
                    <a href="https://www.itau.com.br/" class="brand-logo"><img src="src\assets\itau-logo.png" height="51px" width="51px"></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href=#><i class="large material-icons">account_box</i></a></li>
                        <li> <a class="waves-effect waves-light btn text-cor white">ag 0123 c/c 00587-5</a></li>
                    </ul>
                </div>
            </nav>
        </div> 
        
    
