.cor-itau{
    background-color: #EC7000;
}
.text-cor{
    color: #EC7000;
}
.background-btn{
 background-color: #FAF7F5;
}
.text-bold{
    text-align: center;
    font-weight: 800;
    font-size: 12px;
    text-transform: lowercase;
    font-family: sans-serif;
}
img{  
    width: 51px;
    height: 51px;
}
.icon-large{
    font-size: 45px;
}