
nav{
    background-color: #EC7000;   
}

li, a {
    font-family: sans-serif;
    padding: 0px 20px;
    color: #edf0f1;
}


nav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
 }


#ag:hover{
    background-color: #FAF7F5 !important; 
}

#ag{
    color: #EC7000;
    font-weight: 800;
    background-color: #FAF7F5;
    border-radius: 5px;
    text-transform: lowercase;
    cursor: default;
}

.lock{
    max-width: 64px;
    max-height: 64px;  
}

header{
    display: flex;
    justify-content: space-between;
}
.text-color{
    color: #EC7000;
}

.background-btn{
 background-color: #FAF7F5;
}


.logo img{  
    max-width: 51px;
    max-height: 51px;
    margin-top: 6px;
}

.icon-large{
    font-size: 42px;
}

.logo{
    margin-top: 12px;
    margin-left: 12px;
}

.color-itau-dark{
    background-color: #CD5A12;
}