

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.itau{
    height: 70px;
    background-color: #EC7000;
}

.nav-itau{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    all: initial !important;
    cursor: pointer !important;    
}
span, a{
    font-family: sans-serif !important;
    color: #edf0f1 !important;
}

#ag i{
    all: initial !important;
}

#ag {
    color: #EC7000 !important;
    font-weight: 800 !important;
    background-color: #edf0f1 !important;
    border-radius: 5px !important;
    width: 140px !important;
    height: 34px !important;
    font-size: 12px !important;
    text-align: center !important;
    padding: 8px 8px !important;
    font-style: normal !important;
}

i{
    display: block;
}
button{
    color: #edf0f1;
    background-color: #CD5A12;
    cursor: pointer;   
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70px;
    height: 70px;
}
input {
    all: initial !important;
  }

#search-bar{
    background-color: #FFFFFF !important;
    width: 460px !important;
    border-radius: 20px !important;
    height: 32px !important;
}

#txt-search{
    font-weight: 400  !important;
    background-color:transparent;
    font-family: sans-serif !important;
    color: #706A66 !important;
    font-size: 12px !important;
    padding: 6px !important;
    padding-left: 22px !important;
    border:none !important;
    height: 18px !important;
    width:420px !important;

}


.text-color{
    color: #EC7000;
}

.background-btn{
 background-color: #FAF7F5;
}

.logo-itau img{  
    width: 51px;
    height: 51px;
}

.icon-large{
    font-size: 42px;
}

.color-itau-dark{
    background-color: #CD5A12;
}

.btn-sair{
    margin-right: 40px;
}

#menu{
    margin-right: 32px;
}