/*
  Caixa lançamentos futuros:
  background: #FAF8F7;
  border: 1px solid #89837F;



  Cores alternadas background:
  tr:nth-child(odd) {background: #FAF7F5}
  tr:nth-child(even) {background: #FFFFFF}

  Cor valor entrada: #007A47;
  Cor valor saída: #B71C1C;




 */
