* {
  box-sizing: border-box;
}

/* Tabela */
.tabela {
  margin: 16px 0;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: #FAF7F5;
}

td, th {
  padding: 7.5px 2.5px;
}

::ng-deep div.mat-expansion-panel-body {
  padding: 0;
}


/* Colunas */
.col-data {
  width: 10%;
  min-width: 120px;
}

.col-valor {
  text-align: right;
  width: 15%;
}

.col-saldo {
  width: 15%;
  visibility: hidden;
}

.col-detalhes {
  padding-left: 25px;
  width: 15%;
}



/* Texto */
.entrada {
  text-align: right;
  color: #007a47;
  font-weight: 700;
  padding-left: 34px !important;
}

.saida {
  color: #b71c1c;
  font-weight: 700;
  min-width: 100px;
  text-align: right;
}

.lancamentos-titulo {
  text-transform: uppercase;
}


/* Outros Ajustes*/
.pl {
  padding-left: 2%;
}

.b {
  font-weight: 700;
}

.add-border {
  border: 1px solid #efe9e5;
}
