<div class="container">
  <div class="row">
    <table class="striped">
      <th>entradas futuras</th>
      <tr>
        <td>data</td>
        <td>lançamentos</td>
        <td>valor</td>
        <td>detalhes</td>
      </tr>
      <tr>
        <td>14/08/2021</td>
        <td>Telefonica 3274-828</td>
        <td>1.877,00</td>
      </tr>
      <tr>
        <td>15/08/2021</td>
        <td>VESPER S. A.</td>
        <td>2.234,00</td>
      </tr>
      <tr>
        <td>16/08/2021</td>
        <td>ELETROPAULO 78059</td>
        <td>2.679,00</td>
      </tr>
    </table>
  </div>
</div>
