<div class="container">
  <img src="/assets/tela-erro.png" alt="" />
  <h1 class="erro-titulo">algo deu errado :(</h1>
  <p class="small">
    Desculpe, no momento esta função encontra-se indisponível.
    <br />
    Por favor aguarde alguns minutos e tente novamente.
  </p>
  <p class="smaller">
    Caso necessite de mais informações, contate o SOS internet:
    <br />
    Para qualquer localidade: <b>0300 100 1213</b>
    <br />
    Em dias úteis, das 7h às 22h e em finais de semana e feriados das 8h às 22h.
  </p>
  <a href="/" class="botao">ir para extrato</a>
</div>
