.container {
  text-align: center;
  line-height: 24px;
  margin: 24px auto;
}

.erro-titulo {
  font-size: 24px;
  color: #781B8E;
  font-weight: 300;
  line-height: 32px;
}

.small {
  font-size: 16px;
  margin: 16px 0;
}

.smaller {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 36px;
}


.botao {
  color: #106EB0;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid #106EB0
}
