<app-navbar></app-navbar>
<div class="container">
  <app-saldo></app-saldo>
  <div class="lancamentos">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="lancamentosFuturosAberto = true"
        (closed)="lancamentosFuturosAberto = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>lançamentos futuros</mat-panel-title>
          <mat-panel-description
            class="toggle-exibir lancamentos-futuros-borderless"
          >
            {{ lancamentosFuturosAberto ? "ocultar" : "exibir" }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-lancamentos-futuros></app-lancamentos-futuros>
      </mat-expansion-panel>
    </mat-accordion>
    <app-entradas-saidas></app-entradas-saidas>
  </div>

  <app-rodape></app-rodape>
</div>
