<div class="row">
  <input
    matInput
    (keyup)="filtroBusca($event)"
    placeholder=" ex: saque, TED, DOC"
  />
  <p class="b pl">{{ tituloTabela }}</p>
  <table mat-table [dataSource]="dataSource" class="tabela striped">
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef>data</th>
      <td class="add-border" mat-cell *matCellDef="let elemento">
        {{ elemento.data }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lancamentos">
      <th mat-header-cell *matHeaderCellDef>lançamentos</th>
      <td
        class="lancamentos-titulo pl"
        [ngClass]="{
          b: elemento.lancamentos.startsWith('saldo ')
        }"
        mat-cell
        *matCellDef="let elemento"
      >
        {{ elemento.lancamentos }}
      </td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th class="col-valor" mat-header-cell *matHeaderCellDef>valor (R$)</th>
      <td
        [ngClass]="{
          entrada: elemento.valor > 0,
          saida: elemento.valor < 0
        }"
        mat-cell
        *matCellDef="let elemento"
      >
        {{ elemento.valor != 0 ? elemento.valor : "" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="saldo">
      <th mat-header-cell *matHeaderCellDef>
        {{ exibirSaldo ? "saldo (R$)" : "" }}
      </th>
      <td class="saldo pl" mat-cell *matCellDef="let elemento">
        {{ elemento.saldo != 0 ? elemento.saldo : "" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="detalhes">
      <th mat-header-cell *matHeaderCellDef>detalhes</th>
      <td mat-cell *matCellDef="let elemento">{{ elemento.detalhes }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let linha; columns: colunas"></tr>

    <tr *matNoDataRow>
      <td>Não há dados para serem exibidos.</td>
    </tr>
  </table>
</div>
