<div class="row">
  <p class="b pl">entradas/saídas</p>
  <table class="tabela striped">
    <thead>
      <tr>
        <td class="col-data pl">data</td>
        <td class="pl">lançamentos</td>
        <td class="col-valor pl">valor (R$)</td>
        <td class="col-saldo pl">saldo (R$)</td>
        <td class="col-detalhes pl">detalhes</td>
      </tr>
    </thead>
    <tbody>
      <tr class="add-border">
        <td class="add-border pl">15/08/2021</td>
        <td class="lancamentos-titulo pl"><b>saldo anterior</b></td>
        <td class="entrada pl"></td>
        <td class="saldo pl">39.533,94</td>
        <td></td>
      </tr>
      <tr class="add-border">
        <td class="add-border pl">19/08/2021</td>
        <td class="lancamentos-titulo pl">Pai pgto automatico itau</td>
        <td class="saida pl">- 2.679,00</td>
        <td class="pl"></td>
        <td class="pl"></td>
      </tr>
      <tr class="add-border">
        <td class="add-border pl">19/08/2021</td>
        <td class="lancamentos-titulo pl">resgate rdb/ cdb</td>
        <td class="entrada pl">5.087,00</td>
        <td class="pl"></td>
        <td class="pl"></td>
      </tr>
      <tr class="add-border">
        <td class="add-border pl">23/08/2021</td>
        <td class="lancamentos-titulo pl">
          Pagamento cheque 002398
          <mat-icon class="info-icon">info_outlined</mat-icon>
        </td>
        <td class="saida pl">- 9.368,00</td>
        <td class="pl"></td>
        <td class="pl"></td>
      </tr>
      <tr class="add-border">
        <td class="add-border pl">19/08/2021</td>
        <td class="lancamentos-titulo pl"><b>saldo do dia</b></td>
        <td class=""></td>
        <td class="saldo pl">32.573,94</td>
        <td class="pl"></td>
      </tr>
    </tbody>
  </table>
  <p class="atualizado">atualizado em <b>31/08/2021</b>, às <b>14:55:40h</b></p>
</div>
