
.dvPrincipal {
  margin-left: 60px;
  margin-top: 60px;
  width: 90%;
}

.dvInfo, #saldo, #btnSpan, #idObs, h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.dvInfo {
  display: flex;
  border-top: 1px solid rgb(214, 208, 204);
  border-bottom: 1px solid rgb(214, 208, 204);
  margin-top: -15px;
}

p {
  font-weight: 800;
  size: 16px;
  line-height: 24px;
}

#titSaldo {
  margin-top: 15px;
  margin-bottom: -10px;
}

#saldo {
  color: rgb(0, 122, 71);
  width: 136px;
  height: 24px;
  margin-bottom: 15px;
}

#icon {
  margin-top: 16px;
  margin-bottom: 15px;
  width: 136px;
}

#dvButton {
  width: 05%;
  text-align: right;
}

.btn {
  color: rgb(16, 110, 176);
}

.dvSaldo {
  width: 15%;
}

#btnSpan {
  margin-top: -20px;
  text-decoration: underline;
}

#idIcon {
  margin-top: 20px;
}

button {
  background-color: white;
}

#idObs {
  color: rgb(86, 80, 76);
  size: 14px;
  margin-top: 10px;
}

#detalhe {
  margin-top: 15px;
  width: 80%;
  height: 50px;
  border-left: 1px solid rgb(214, 208, 204);
  border-right: 1px solid rgb(214, 208, 204);
}