<div class="row">
  <p class="bold-700 pl">{{ tituloTabela }}</p>
  <table mat-table [dataSource]="dataSource" class="tabela striped">
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef>data</th>
      <td class="add-border" mat-cell *matCellDef="let elemento">
        {{ elemento.dataLancamento }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lancamentos">
      <th mat-header-cell *matHeaderCellDef>lançamentos</th>
      <td
        class="lancamentos-titulo pl"
        [ngClass]="{ 'bold-700': elemento.isSaldo }"
        mat-cell
        *matCellDef="let elemento"
      >
        {{ elemento.lancamento }}
      </td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th class="col-valor" mat-header-cell *matHeaderCellDef>valor (R$)</th>
      <td
        [ngClass]="{
          entrada: elemento.valor > 0,
          saida: elemento.valor < 0
        }"
        mat-cell
        *matCellDef="let elemento"
      >
        {{ elemento.valor != 0 ? (elemento.valor | currency: "":"") : "" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="saldo">
      <th mat-header-cell *matHeaderCellDef>
        {{ exibirSaldo ? "saldo (R$)" : "" }}
      </th>
      <td class="saldo pl" mat-cell *matCellDef="let saldo">
        {{
          saldo.isSaldo
            ? ((saldo.saldoTotal ? saldo.saldoTotal : 0) | currency: "":"":"")
            : ""
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="detalhes">
      <th mat-header-cell *matHeaderCellDef>detalhes</th>
      <td mat-cell *matCellDef="let elemento">{{ elemento.detalhes }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let linha; columns: colunas"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="sem-resultado mat-cell" colspan="5">
        <img src="/assets/nao-encontrado.svg" />
        <p>nenhum resultado encontrado</p>
      </td>
    </tr>
  </table>
</div>
